body{
    font-family: 'Montserrat', sans-serif;
}
 header{
    background:#5796f3;
	padding: 20px 0;
    height: 300px;
 }
 

 .caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

#nome{
    width: 650px;
    font-size: 50px;
    position: absolute;
    top: 120px;
    right: 300px;

}

#capivara{
    width: 200px;
    height: 200px;
    border-radius: 150px;
	border: 10px solid #C78C19;
    position: absolute;
    top: 45px;
    right: 50px;
}


nav {
	position: absolute;
	top: 5px;
	right: 300px;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: #ddd2d2;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
	color: #41ec5d;
	text-decoration: underline;
} 

footer{
	text-align: center;
	height: 200px;
	padding: 0px 0;
	background: #000000;
}

.espaço{
	width: 1349px;
	height: 300px;
}

.Copyright{
	color: #fdfdfd;
	font-size: 17px;
	margin: 0px 0 0;
	position: relative;
	top: 50px;
}

.principal{
    position: relative;
	padding: 3em 0;
	background:#5796f3;
}


.titulo-principal{
    position: relative;
	left: 100px;
	font-size: 3em;
	margin: 0 0 1em;
	width: 700px;
	color: rgb(255, 160, 52);
}

#imagem{
	height: 200px;
}

.imagem-contato{
	width: 300px;
	position: relative;
	left: 900px;
	bottom: 210px;
}

.pega{
    text-decoration: none;
	width: 100px;
}

.logos{
    position: relative;
    left: 100px;
    width: 50px;
    height: 50px;
    text-decoration: none;
   
    }

.escrita{
    text-transform: uppercase;
    font-size: 20px;
    color: #fdfdfd;
    text-decoration: none ;
    position: relative;
    left: 170px;
    bottom: 40px;
}

h3{
	padding: 10px 0 10px 0 ;
	font-size: 40px;
	color: #fdfdfd;
	position: relative;
	top: 30px;
}
    
